{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "C3PR shipping bot API",
  "Parameters": {
    "BotOauthToken": { "Type": "String", "NoEcho": true, "MinLength": 1 },
    "SlackSigningSecret": { "Type": "String", "NoEcho": true, "MinLength": 1 },
    "C3prCallbackSecret": { "Type": "String", "NoEcho": true, "MinLength": 1 },
    "GithubAppPrivateKeyBase64": { "Type": "String", "NoEcho": true, "MinLength": 1 },
    "GithubAppClientId": { "Type": "String", "MinLength": 1 },
    "GithubAppInstallationId": { "Type": "String", "MinLength": 1 },
    "GithubOrgName": { "Type": "String", "MinLength": 1 },
    "GithubRepoName": { "Type": "String", "MinLength": 1 },
    "GithubRepoMainBranchName": { "Type": "String", "Default": "master", "MinLength": 1 },
    "GithubWorkflowFile": { "Type": "String", "Default": "dotnet-core-ci.yml", "MinLength": 1 }
  },
  "Resources": {
    "AspNetCoreFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "C3PR.Api::C3PR.Api.EntryPoint.LambdaEntryPoint::FunctionHandlerAsync",
        "Runtime": "dotnet8",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": ["AWSLambdaBasicExecutionRole"],
        "Environment": {
          "Variables": {
            "BotOauthToken": { "Ref": "BotOauthToken" },
            "SlackSigningSecret": { "Ref": "SlackSigningSecret" },
            "C3prCallbackSecret": { "Ref": "C3prCallbackSecret" },
            "GithubAppPrivateKeyBase64": { "Ref": "GithubAppPrivateKeyBase64" },
            "GithubAppClientId": { "Ref": "GithubAppClientId" },
            "GithubAppInstallationId": { "Ref": "GithubAppInstallationId" },
            "GithubOrgName": { "Ref": "GithubOrgName" },
            "GithubRepoName": { "Ref": "GithubRepoName" },
            "GithubRepoMainBranchName": { "Ref": "GithubRepoMainBranchName" },
            "GithubWorkflowFile": { "Ref": "GithubWorkflowFile" }
          }
        },
        "Events": {
          "ProxyResource": { "Type": "Api", "Properties": { "Path": "/{proxy+}", "Method": "ANY" } },
          "RootResource": { "Type": "Api", "Properties": { "Path": "/", "Method": "ANY" } }
        }
      }
    }
  },
  "Outputs": {
    "ApiURL": {
      "Description": "C3PR API endpoint",
      "Value": { "Fn::Sub": "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/" }
    },
    "SlackEventRequestURL": {
      "Description": "Slack Event Subscriptions request URL",
      "Value": { "Fn::Sub": "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/SlackWebhook/Event" }
    }
  }
}
